
.Tech-Container{
    margin-top: 50px;
    min-height: 40vh;
    width: 90%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    font-family: "Quicksand";
}

.Tech-Title{
    font-size: 3rem;
    color: var(--clr-global-white);
}

.Tech-GitChart {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: block;
}


.About-Tech{
    width: 65%;
    background-color: transparent;

    font-size: 18px;

    text-align: center;
}

.About{
    font-size: 18px;
}


.Tech-Grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    gap: 1em;

    width: 90%;
}



@media screen and (min-width: 1700px) {
    .Tech-Grid{
        grid-template-columns: repeat(6, 1fr);
    }
}


@media screen and (max-width: 1050px) {
    .About-Tech{
        width: 90%;
    }
    .Tech-Grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .Tech-Title{
        text-align: center;
    }
    
    .About-Tech{
        width: 100%;
    }
    .Tech-Grid{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .Tech-Grid{
        grid-template-columns: repeat(2, 1fr);
    }
}