.Music{
    min-height: 100vh;
    width: 90%;

}

.instruments-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
    /* background-color: pink; */

    height: 100%;

    object-fit: cover;
}