.navbar{
    position: relative;
    z-index: 1000;
}

.bg-background {
    background-color: var(--clr-home-container);
}

.nav-link {
    text-align: center;
    color: white;
}

#nav-link:hover {
    color: var(--clr-1);
}

#basic-nav-dropdown:hover{
    color: var(--clr-1) !important;
}

/* dropdown */
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
}

/* dropdown */
.navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 9999;
    border: 0px;
    background-color: var(--clr-nav-dropdown-clr);
}

#dropdown-item {
    color: white;
}



#dropdown-item:hover {
    background-color: var(--clr-home-container);
    color: var(--clr-1);
}